apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: toptal
type: Opaque
stringData:
  DBUSER: dbadmin
  DBPASS: "<YOUR_DB_PASSWORD>"
  DB: toptal3tier
  DBHOST: "<YOUR_RDS_ENDPOINT>"
  DBPORT: "5432"
