# Service Account with IRSA annotation for Secrets Manager access
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets-sa
  namespace: toptal
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::453410498558:role/toptal-3tier-external-secrets-role"
---
# SecretStore — connects to AWS Secrets Manager via IRSA
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: aws-secrets-manager
  namespace: toptal
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1
      auth:
        jwt:
          serviceAccountRef:
            name: external-secrets-sa
---
# ExternalSecret — syncs AWS Secrets Manager → K8s Secret
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: db-credentials
  namespace: toptal
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: SecretStore
  target:
    name: db-credentials
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: toptal-3tier/db-credentials
